@model PizzaBox.Client.Models.PizzaViewModel

@{
  ViewData["Title"] = "Order";
}

<h1>Current Order</h1>

<p style="white-space: pre-line">@Model.Order</p>

<br />

<form action="/order/addpizza" method="post">
  <input type="hidden" name="location" id="location" value="@Model.Location" />
  <input type="hidden" name="username" id="username" value="@Model.Username" />
  <input type="hidden" name="orderid" id="orderid" value="@Model.Order.Id" />

  <button type="submit">Add Pizza</button>
</form>

<br />
<form action="/user/submitorder" method="post">

  <input type="hidden" name="location" id="location" value="@Model.Location" />
  <input type="hidden" name="username" id="username" value="@Model.Username" />
  <input type="hidden" name="orderid" id="orderid" value="@Model.Order.Id" />
  <button type="submit">Complete Order</button>
</form>
